body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 18px; /* Размер основного шрифта в <p></p>  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    animation: color-change 3s infinite;
}
div {
    margin:0 auto;
    width: 400px;
}
h2 {
    text-decoration: underline red;
}

img {
    animation: fade-in 3s;
    transition: transform 1s;
    transform: scale(1,1);
}

img:hover {
    transform: scale(1.2,1.2);
}

@keyframes color-change {
  0%   { color: blue; }
  50%  { color: red; }
  100% { color: blue; }
}

@keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes scale-up {
  0%   {transform: scale(1,1)}
  100% {transform: scale(1.2,1.2)}
}

